<!-- this container should fill up the width it is alloted -->
<div class="container-fluid">
    <div>
        <h2>
            Cities
        </h2>
        <!-- "card" is a built-in bootstrap class.
        "row" wraps the card and assures alignment -->
        <div *ngFor="let city of cities" class="card row">
            <img src="{{city.image}}" alt="city image" class="card-image">
            <!-- the "container" keeps the card nicely aligned -->
            <div class="container">
                <h3>
                    <a class="card-link" routerLink="/cities/{{city.id}}">{{city.name}}</a>
                </h3>
            </div>
        </div>
    </div>
</div>