h1 {
    min-height: 50px;
    text-align: center;
    margin: auto;
}

nav {
  margin-left: 0;
  margin-top: 15px ;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
