<p>
    <button type="button" class="btn button-outline-primary" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <!-- image source: https://www.flaticon.com/free-icon/menu-button-of-three-horizontal-lines_56763 -->
        <img src="../../assets/menu-button-of-three-horizontal-lines.png" alt="menu button">
    </button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ul>
        <li>
            <a routerLink='/'>Home</a>
        </li>
        <li> Cities
            <ul>
                <li *ngFor="let city of cities">
                    <a routerLink="/cities/{{city.id}}" (click)="collapse.toggle()">{{city.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>